# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


# data 
*.csv
*.zip
**/data

#dockerfile
airflow-env/docker-compose.override.yml


## airflow bin
.DS_Store
dags/.DS_Store



## terraform
# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
infra/.terraform/